#Compiled files
*.o
*.out
hello
employee
logwriter

#Log files
*.log

#Editor backups
*~
*.swp
# Assignment 2 binaries
assignment2/c-programs/producer
assignment2/c-programs/consumer
assignment2/c-programs/cleanup.sh

